.container {
    background: white;
    width: 500px;
    margin: auto;
    overflow: auto;
    border: 2px solid white;
    padding: 15px;
    border-radius: 10px;
    font: normal 15pt Arial;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.301);
}

.container input {
    margin-left: 10px;
}

.button-verificar {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.dasdas {
    text-align: center;
}